* {
  margin: 0;
  box-sizing: border-box;
  background-color: white;
  /* border: red dotted 1pt; */
}

/* All */
main {
  margin: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title-button-flex {
  display: flex;
  justify-content: space-between;
  /* position: sticky;
  top: 0;
  z-index: 100;
  padding: 15px 0; */
}

h2 {
  text-align: center;
  margin-bottom: 1.5em;
  font-weight: 400;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}


/* Item Styles */
#list-container, #item-container {
  margin: 0 3em;
}

#item-container {
  margin-top: 2em;
}

h3 {
  font-weight: 700;
  font-size: 24pt;
}

#category {
  text-transform: capitalize;
}

h5 {
  font-weight: bolder;
}

#price {
  font-size: 28pt;
}

#flex-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#img-container {
  margin: 0 5em 0 2em;
  padding: 2em;
  align-self: center;

}
#img-container img {
  max-height: 30em;
  max-width: 20em;
}

#item-details {
  text-align: left;
  padding: 15px 20px ;
  width: 70em;
}

.card {
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
}

#button-div {
  display: flex;
  justify-content: space-between;
}

#updateBtn {
  margin-right: 1.5em;
  margin-left: 3em;
}

p {
  font-size: 16pt;
}


/* Form Styles */
#new-item-form, #update-item-form {
  text-align: center;
}

#new-item-form input, #update-item-form input {
  border-radius: 7px;
  padding: 15px;
  width: 40em;
  margin-bottom: 2em;
}

#submit-button {
  padding: 10px;
  width: 10em;
  font-size: 15pt;
}

